body{
  max-width: 670px;
  margin: 0 auto;
  background-color: #97e2ff;
}

.btn-info{
  width: 150px;
}

.header{
margin-top:10px;
}

.custom-tip{
  height: 20px;
}

.footer-credits{
  font-size: 16px;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.no-underline, .no-underline:hover{
  text-decoration: none;
  color:#000;
}

.logo {
  margin-bottom:10px;
  vertical-align: middle;
  border: 1px solid #8c8c8c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.title{
  margin-top:10px;
}

.terminal {
  text-align:left;
  border: 1px solid #000000;
  background-color: #ffffff;
  color:#000000;
  height: 300px;
  overflow-y: scroll;
  overflow-x: scroll;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminal_top_bar{
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  background-color: #454545;
  color: #ffffff;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#credits{
color:#40403e;
font-size: 15px;
}

p .terminal_text{
position: absolute;
color:#000000;
}

a{
color:#404040;
}